/* 測試購物車 */
    
  .cart_btn {
    display: flex;
    justify-content: flex-end;
    margin: 150px 0 10px;

    
  }

  #cart {
    position: relative;
    font-size: 2rem;
    cursor: pointer;
    margin: 1em 4em 0 0;
  }

  .cart_quantity {
    color: white;
    background-color: red;
    padding: .2em .3em;
    position: absolute;
    margin: .8em 7.5em 0 0;
    right: 0;
    border: solid 2px red;
    border-radius: 15px;
    font-weight: bolder;
  }    
 
  .items_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin-top: 1em;
  }

  
  .product_name {
    font-size: 24px;
    font-weight: 600;
    font-family: serif;
    color: #000;
}

  .card {
  /*   width: 15rem; */
    margin: 1em;
    position: relative;
    overflow: hidden; 
    text-align: center
  }
  
  .card:hover .add_to_cart {
    transform: translateX(0);
  }
  
  .product_image {
    margin-bottom: 1em;
    width: 200px;
    height: 300px;
    object-fit: cover;
  }
  
  .add_to_cart {
    background-color: black;
    color: white;
    position: absolute;
    right: 0;
    top: 65%;
    padding: .5em 1em; 
    transform: translateX(300px);
    transition: .5s ease;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.2rem
  }
  
  .product_price {
    padding-top: 1em;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .cart_modal_overlay {
    position: fixed;
    width: 100vw;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    overflow-y: scroll;
    z-index: 2;
    transform: translateX(-200%);
    transition: .5s ease-out;
    
  }
  
  .cart_modal {
    height: 100vh;
    width: 50%;
    background-color: rgb(50,50,50);
    float: right;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  #close_btn {
    font-size: 1.5rem;
    float: right;
    margin: .5em 2em 0 0;
    color: white;
    cursor: pointer;
  }
  
  .cart_is_empty {
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1em;
    display: none;
    
  }
  
  .total {
    text-align: center;
    margin: 2em 0 10em 0;
    padding: 0 0 20px;
  /*   display: none; */
  }
  
  .cart_total {
    color: white;
  }
  
  .total_price {
    color: white;
    font-size: 2rem;
    display: block;
  }
  
  .purchase_btn {
    font-size: 1rem;
    font-weight: bolder;
    background-color: green;
    color: white;
    padding: 1em 2em;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: 2em 0 1em 0;
  }
  
  .product_rows {
    margin-top: 3em;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
  }
  
  .product-row {
    display: flex;
    align-items: center;
  }
  
  .cart-image {
    width: 10rem;
    margin: 1em;
  }
  
  .cart-price {
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  
  .product_quantity {
    width: 4rem;
    font-size: 2rem;
    margin-left: 3rem;
  }
  
  .remove_btn {
    padding: 1em 2em;
    background-color: red;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 3rem;
    font-weight: bolder;
    font-size: 1rem;
  }
  
  .remove_btn:active {
    transform: translateY(5px);
  }
  